body{
    background-color: #333333;
}

.forms{
    border: #7f7f7f 2px solid;
    background-color: #2f2f2f;
    padding: 20px;
}

.form-input{
    background-color: transparent;
    color: white;
    border: 1px #8f8f8f solid;
    padding: 5px;
    border-radius: 3px;
}

.form-button{
    background-color: #8f8f8f;
    color: #ffffff;
    height: 35px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.tooltip {
    position: relative;
    color: white;
    display: inline-block;
    cursor: help;
    /*border-bottom: 1px dotted black;*/
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 500px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}